<%# The footer of every page %>
<%# Polar Survey %>
<%# @author Aun Raza %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching %>
<%# @author Sophie Xu %>
<%# @author Tien Sang Nguyen %>
<%# @author Eunju Jo %>

<nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <h4>&copy; Copyright Polar Eclipse Survey 2021 </h4>
  </div>
</nav>
