<%# The header of every page %>
<%# Polar Survey %>
<%# @author Aun Raza %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching %>
<%# @author Sophie Xu %>
<%# @author Tien Sang Nguyen %>
<%# @author Eunju Jo %>

<nav class="navbar">
  Header
</nav>
