<%# The main page of the site %>
<%# Polar Survey %>
<%# @author Aun Raza %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching %>
<%# @author Sophie Xu %>
<%# @author Tien Sang Nguyen %>
<%# @author Eunju Jo %>

<h1 class="text-center polarText">Welcome To Polar Eclipse Survey</h1>

<div class="row justify-content-center">
  <img src="/images/ResizePNG.png" alt="" class="col-6">
</div>
