<div class="row justify-content-center">

    <h1 class="text-center polarText display-1">Sign In</h1>
    <form action="" class="my-4 border border-dark col-5 logoGray border-3">
            <div class="row justify-content-center my-4">
              <label for="email" class="col-2 text-end">E-mail</label>
              <input type="email" class="col-5" id="email" placeholder="E-mail">
            </div>
            <div class="row justify-content-center my-4">
                <label for="email" class="col-2 text-end">Password</label>
                <input type="password" class="col-5" id="password" placeholder="Password">
              </div>
          <div class="mb-3 row justify-content-center">
            <input type="checkbox" class="form-check-input col-3" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Check me out</label>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary col-3 my-3">Sign In</button>
            <br>
            <p class="text-center"><a href="/register">Click Here</a> to make an account</p> 
          </div>
          
    </form>
    
</div>