<%# The page for logging in the user %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<div class="row justify-content-center">

  <h1 class="text-center polarText display-1 mt-5 pt-5">Sign In</h1>

  <!-- message area -->
  <% if(messages.length > 0) { %>
  <div id="messageArea" class="alert alert-danger">
    <%= messages %>
  </div>
  <% } %>

  <form action="" method="POST" class="my-4 border border-dark col-9 logoGray border-3">
    <div class="row justify-content-center my-4 container text-center pe-5">
      <label for="username" class="col-lg-4 text-lg-end">User Name</label>
      <input type="text" class="col-lg-6 mx-1" id="username" placeholder="User Name" required name="username">
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center my-4 container text-center pe-5">
      <label for="email" class="col-lg-4 text-lg-end">Password</label>
      <input type="password" class="col-lg-6 mx-1" id="password" placeholder="Password" required name="password">
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="customButtonSpecial col-lg-4 md-2">Sign In</button>
      <br>
      <p class="text-center"><a href="/register">Click Here</a> to make an account</p>
    </div>
  </form>

</div>
